.join-btn {
    padding: 10px;
}

.are-h {
    font-size: 18px;
    line-height: inherit;
    font-weight: 400;
    color: white;
}

.tem {
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.contentj{
    float: left;
    width: 42%;
}