/* Add a bottom border to each navitem */
.navitem .nav-link {
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    width: fit-content;
}

/* Add bottom border on hover */
.navitem .nav-link:hover {
    border-bottom: 2px solid #DD6F8C;
}

/* Make the first item active by default */
.navitem .nav-link.active {
    border-bottom: 2px solid #DD6F8C;
    color: #000;
    font-weight: bold;
}
